p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f4e3cf;
    margin-bottom: 0px;
}
a {
    color: #f4e3cf;
    text-decoration: none;
    margin-right: 20px;
};
menu {
    color: #f4e3cf;
}
