<div class="container">
    <hr>
    <p>
        <a routerLink="videos">About</a>  / 
        <a routerLink="people" style="padding-left: 5px;">For Business</a> / 
        <a routerLink="documents" style="padding-left: 5px;">Sugestions</a> / 
        <a routerLink="events" style="padding-left: 5px;">Help & FAQs</a> / 
        <a routerLink="communities" style="padding-left: 5px;">Contact</a> / 
        <a routerLink="channels" style="padding-left: 5px;">Pricing</a> 
        
    </p>
    <BR>
    <p>
        Copyright 2013 Companyname inc.
    </p>
    <p>
        <a routerLink="videos">Privacy</a>  / 
        <a routerLink="channels" style="padding-left: 5px;">Terms</a> 
        
    </p>
</div>