/* You can add global styles to this file, and also import other style files */
body {
    background-color: #953e45;
}
hr {
    color: #f4e3cf;
    margin-top: 10px;
    border: none;
    border-top: 2px solid;
    margin-bottom: 5px;
}
.tcolor{
    color: #f4e3cf;
}
.tdetails{
    font-size: 9pt;
}
.tjudul{
    font-size: 11pt;
    text-size-adjust: 2;
}

.starter-template {
    padding: 80px 15px;
    text-align: center;
}

span.lower-text {
    color: #ffc300;
    font-size: 25px;
    display: block;
}

.hover-div {
    padding: 20px 20px;
    text-align: center;
}

.hover-div {
    border-top: 1px solid #f8f8f8;
    background: #f8f8f8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 10px 0px;
}

.hover-div:hover {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.32);
    cursor: pointer;
    border-radius: 5px;
}