<div class="container">
    <div class="row mt-4">
        <div class="col-lg-8 col-md-12 px-3">
          <!-- VIDEOS  -->
            <div class="row">
                <div class="col-12">
                    <div class="row tcolor">
                        <div class="col-4"><h5>Videos</h5></div>
                        <div class="col-4 text-end"><p class="tdetails">Browse all videos</p></div>
                        <div class="col-4 text-end"></div>
                    </div>
                    <div class="row">
                    <div class="col-12">
                        <div class="row row-cols-1">
                            <div class="col-md-8 mb-2 px-1" *ngFor="let posx of postx.items">
                              <div class="card">
                                <img src="{{ posx.snippet.thumbnails.medium.url}}" class="card-img-top" alt="" height="312px">
                                <div class="card-body">
                                  <p class="tjudul">{{ posx.snippet.title}}</p>
                                  <div class="row">
                                    <div class="col-6"><p class="card-text tdetails">{{ posx.snippet.channelTitle}}</p></div>
                                    <div class="col-6"><p class="card-text tdetails text-end">{{ posx.statistics.viewCount| number : '0.0-0'}} views</p></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4 px-1">
                              <div class="col mb-2" *ngFor="let posz of postz.items">
                                <div class="card">
                                  <img src="{{ posz.snippet.thumbnails.medium.url}}" class="card-img-top" alt="">
                                  <div class="card-body">
                                    <!-- <p class="tjudul">{{ post.snippet.title}}</p> -->
                                    <div class="row">
                                      <div class="col-6"><p class="card-text tdetails">{{ posz.snippet.channelTitle}}</p></div>
                                      <div class="col-6"><p class="card-text tdetails text-end">{{ posz.statistics.viewCount| number : '0.0-0'}} views</p></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-4 px-1" *ngFor="let post of posts.items">
                              <div class="card">
                                <img src="{{ post.snippet.thumbnails.medium.url}}" class="card-img-top" alt="">
                                <div class="card-body">
                                  <!-- <p class="tjudul">{{ post.snippet.title}}</p> -->
                                  <div class="row">
                                    <div class="col-6"><p class="card-text tdetails">{{ post.snippet.channelTitle}}</p></div>
                                    <div class="col-6"><p class="card-text tdetails text-end">{{ post.statistics.viewCount| number : '0.0-0'}} views</p></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-4 px-1">
                              <div class="card" style="height: 100%;">
                                <div class="card-body text-right px-2 py-5">
                                  <div class="row">
                                    <div class="col-4">
                                      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSIoFO1uG_FMHcHsGqJpLa_mM54ex-qrg1B7HRFvbqJpLsN52J3" width="40px" class="rounded float-end" alt="...">
                                    </div>
                                    <div class="col-8">
                                      <p class="tjudul">Upload<BR>
                                        Your Own Video
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div> 
                    </div>
                    </div>
                </div>
            </div>
            People 
            <div class="row mt-5">
              <div class="col-12">
                  <div class="row tcolor">
                      <div class="col-4"><h5>People</h5></div>
                      <div class="col-4 text-end"><p class="tdetails">View all</p></div>
                      <div class="col-4 text-end"></div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                        <div class="row row-cols-1">
                            <div class="col-md-8 mb-2 px-1" *ngFor="let posy of posty.items">
                              <div class="card">
                                <img src="{{ posy.snippet.thumbnails.medium.url}}" class="card-img-top" alt="" height="312px">
                                <div class="card-body">
                                  <p class="tjudul">{{ posy.snippet.title}}</p>
                                  <div class="row">
                                    <div class="col-6"><p class="card-text tdetails">{{ posy.snippet.channelTitle}}</p></div>
                                    <div class="col-6"><p class="card-text tdetails text-end">{{ posy.statistics.viewCount| number : '0.0-0'}} views</p></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4 px-1">
                              <div class="col mb-2" *ngFor="let posy2 of posty2.items">
                                <div class="card">
                                  <img src="{{ posy2.snippet.thumbnails.medium.url}}" class="card-img-top" alt="">
                                  <div class="card-body">
                                    <!-- <p class="tjudul">{{ post.snippet.title}}</p> -->
                                    <div class="row">
                                      <div class="col-6"><p class="card-text tdetails">{{ posy2.snippet.channelTitle}}</p></div>
                                      <div class="col-6"><p class="card-text tdetails text-end">{{ posy2.statistics.viewCount| number : '0.0-0'}} views</p></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-4 px-1" *ngFor="let posy2 of posty2.items">
                              <div class="card">
                                <img src="{{ posy2.snippet.thumbnails.medium.url}}" class="card-img-top" alt="">
                                <div class="card-body">
                                  <!-- <p class="tjudul">{{ post.snippet.title}}</p> -->
                                  <div class="row">
                                    <div class="col-6"><p class="card-text tdetails">{{ posy2.snippet.channelTitle}}</p></div>
                                    <div class="col-6"><p class="card-text tdetails text-end">{{ posy2.statistics.viewCount| number : '0.0-0'}} views</p></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-4 px-1">
                              <div class="card" style="height: 100%;">
                                <div class="card-body text-right px-2 py-5">
                                  <div class="row">
                                    <div class="col-4">
                                      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQrLmCf0iTSOq_booVmhgmoBG4FxlM83tfoysZY4CKiyF7EgyJk" width="40px" class="rounded float-end" alt="...">
                                    </div>
                                    <div class="col-8">
                                      <p class="tjudul">Show<BR>
                                        Your Work
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div> 
                    </div>
                    </div>
              </div>
          </div>
          <!-- documents -->
          <div class="row mt-5 mb-5">
            <div class="col-12">
                <div class="row tcolor">
                    <div class="col-4"><h5>Documents</h5></div>
                    <div class="col-4 text-end"><p class="tdetails">Browse all documents</p></div>
                    <div class="col-4 text-end"></div>
                </div>
                <div class="row">
                  <div class="col-12">
                      <div class="row row-cols-1">
                          <div class="col-md-8 mb-2 px-1" *ngFor="let posx of postx.items">
                            <div class="card">
                              <img src="{{ posx.snippet.thumbnails.medium.url}}" class="card-img-top" alt="" height="312px">
                              <div class="card-body">
                                <p class="tjudul">{{ posx.snippet.title}}</p>
                                <div class="row">
                                  <div class="col-6"><p class="card-text tdetails">{{ posx.snippet.channelTitle}}</p></div>
                                  <div class="col-6"><p class="card-text tdetails text-end">{{ posx.statistics.viewCount| number : '0.0-0'}} views</p></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 px-1">
                            <div class="col mb-2" *ngFor="let posz of postz.items">
                              <div class="card">
                                <img src="{{ posz.snippet.thumbnails.medium.url}}" class="card-img-top" alt="">
                                <div class="card-body">
                                  <!-- <p class="tjudul">{{ post.snippet.title}}</p> -->
                                  <div class="row">
                                    <div class="col-6"><p class="card-text tdetails">{{ posz.snippet.channelTitle}}</p></div>
                                    <div class="col-6"><p class="card-text tdetails text-end">{{ posz.statistics.viewCount| number : '0.0-0'}} views</p></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div> 
                      <div class="row">
                          <div class="col-4 px-1" *ngFor="let post of posts.items">
                            <div class="card">
                              <img src="{{ post.snippet.thumbnails.medium.url}}" class="card-img-top" alt="">
                              <div class="card-body">
                                <!-- <p class="tjudul">{{ post.snippet.title}}</p> -->
                                <div class="row">
                                  <div class="col-6"><p class="card-text tdetails">{{ post.snippet.channelTitle}}</p></div>
                                  <div class="col-6"><p class="card-text tdetails text-end">{{ post.statistics.viewCount| number : '0.0-0'}} views</p></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-4 px-1">
                            <div class="card" style="height: 100%;">
                              <div class="card-body text-right px-2 py-5">
                                <div class="row">
                                  <div class="col-4">
                                    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQOFEvEHpnRSamPUibTEJGswFbMqUthSHvWnS31UeOKCQuE5eJD" width="40px" class="rounded float-end" alt="...">
                                  </div>
                                  <div class="col-8">
                                    <p class="tjudul">Share<BR>
                                      Your Documents
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div> 
                  </div>
                  </div>
            </div>
        </div>

        </div>
        <div class="col-lg-4 col-md-12   px-3">
            <div class="row tcolor">
                <div class="col-4"><h5>Activity</h5></div>
                <div class="col-8 text-end"><p class="tdetails">View timeline /Filter activities</p></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-1" style="max-width: 540px;">
                      <div class="row g-0">
                          <div class="col-md-4">
                          <img src="" class="img-fluid rounded-start" alt="">
                          </div>
                          <div class="col-md-8">
                          <div class="card-body">
                              <p class="card-text tdetails"><b>Card title</b>
                              This is a wider card with supporting text below as a natural</p>
                              <p class="card-text tdetails"><small class="text-muted mt-1">Last updated 3 mins ago</small></p>
                          </div>
                          </div>
                      </div>
                    </div>
                    <div class="card mb-1" style="max-width: 540px;">
                      <div class="row g-0">
                          <div class="col-md-4">
                          <img src="" class="img-fluid rounded-start" alt="">
                          </div>
                          <div class="col-md-8">
                          <div class="card-body">
                              <p class="card-text tdetails"><b>Card title</b>
                              This is a wider card with supporting text below as a natural</p>
                              <p class="card-text tdetails"><small class="text-muted mt-1">Last updated 3 mins ago</small></p>
                          </div>
                          </div>
                      </div>
                    </div>
                    <div class="card mb-1" style="max-width: 540px;">
                      <div class="row g-0">
                          <div class="col-md-4">
                          <img src="" class="img-fluid rounded-start" alt="">
                          </div>
                          <div class="col-md-8">
                          <div class="card-body">
                              <p class="card-text tdetails"><b>Card title</b>
                              This is a wider card with supporting text below as a natural</p>
                              <p class="card-text tdetails"><small class="text-muted mt-1">Last updated 3 mins ago</small></p>
                          </div>
                          </div>
                      </div>
                    </div>
                    <div class="card mb-1" style="max-width: 540px;">
                      <div class="row g-0">
                          <div class="col-md-4">
                          <img src="" class="img-fluid rounded-start" alt="">
                          </div>
                          <div class="col-md-8">
                          <div class="card-body">
                              <p class="card-text tdetails"><b>Card title</b>
                              This is a wider card with supporting text below as a natural</p>
                              <p class="card-text tdetails"><small class="text-muted mt-1">Last updated 3 mins ago</small></p>
                          </div>
                          </div>
                      </div>
                    </div>
                    <div class="card mb-1" style="max-width: 540px;">
                      <div class="row g-0">
                          <div class="col-md-4">
                          <img src="" class="img-fluid rounded-start" alt="">
                          </div>
                          <div class="col-md-8">
                          <div class="card-body">
                              <p class="card-text tdetails"><b>Card title</b>
                              This is a wider card with supporting text below as a natural</p>
                              <p class="card-text tdetails"><small class="text-muted mt-1">Last updated 3 mins ago</small></p>
                          </div>
                          </div>
                      </div>
                    </div>
                    <div class="card mb-1" style="max-width: 540px;">
                      <div class="row g-0">
                          <div class="col-md-4">
                          <img src="" class="img-fluid rounded-start" alt="">
                          </div>
                          <div class="col-md-8">
                          <div class="card-body">
                              <p class="card-text tdetails"><b>Card title</b>
                              This is a wider card with supporting text below as a natural</p>
                              <p class="card-text tdetails"><small class="text-muted mt-1">Last updated 3 mins ago</small></p>
                          </div>
                          </div>
                      </div>
                    </div>

                    <hr>
                </div>
            </div>
<br>
            <div class="row tcolor">
                <div class="col-4"><h5>Channels</h5></div>
                <div class="col-8 text-end"><p class="tdetails">Browse all channels</p></div>
            </div>
            <hr>
            <div class="row">
                <div class="row row-cols-1 row-cols-md-2 g-2">
                  <div class="col">
                    <div class="card hover-div">
                      <img src="" class="card-img-top" alt="">
                      <div class="card-body" style="height: 120px;">
                        <h5 class="card-title">Card title</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card hover-div">
                      <img src="" class="card-img-top" alt="">
                      <div class="card-body" style="height: 120px;">
                        <h5 class="card-title">Card title</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card hover-div">
                      <img src="" class="card-img-top" alt="">
                      <div class="card-body" style="height: 120px;">
                        <h5 class="card-title">Card title</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card hover-div">
                      <img src="" class="card-img-top" alt="">
                      <div class="card-body" style="height: 120px;">
                        <h5 class="card-title">Card title</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card hover-div">
                      <img src="" class="card-img-top" alt="">
                      <div class="card-body" style="height: 120px;">
                        <h5 class="card-title">Card title</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card hover-div">
                      <img src="" class="card-img-top" alt="">
                      <div class="card-body" style="height: 120px;">
                        <h5 class="card-title">Card title</h5>
                      </div>
                    </div>
                  </div>
                    
                  </div>
            </div>
        </div>
    </div>
</div>